body {
	margin: 0;
	padding-bottom: 2em;
	box-sizing: border-box;
	background-color: #f3f3f3;
	
	text-align: center;
}
a:link, a:visited, a:hover {
	color: #4C9B00;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.App {
	display: inline-flex;
	flex-flow: column nowrap;
	align-items: stretch;
	margin: auto;
	
	text-align: left;
	font-family: "segoe ui", "helvetica neue", helvetica, sans-serif;
}
.App > header {
	font-size: 1.2em;
	text-align: left;
	padding: 1em;
	
	display: flex;
	align-items: center;
}
.App-link {
	margin-right: 1.5em;
}
.App-logo {
	margin-right: 1.75em;
}
.App-container {
	box-shadow: 0 0 45px #eee;
	
	background-color: #fff;
	display: flex;
	align-items: stretch;
	
	font-size: 11pt;
}

.App-container > main {
	/*overflow: auto;*/
	width: 60vw;
	max-width: 900px;
	padding: 1em;
}
.App-container > aside {
	flex: none;
	width: 400px;
	max-width: 30vw;
	
	position: relative;
	background-color: #fcfcfc;
}
.App-welcome {
	text-align: center;
	font-family: "times new roman";
	font-size: 30pt;
	font-style: italic;
	line-height: 1.5em;
	margin: 5em
}

/* Temporary hack, I swear! */
aside .CourseList {
	margin: 0.5em 0 0.5em 0.5em;
}
aside .Course {
	margin-right: 0.4em;
}
aside .Course-title > span, aside .Course-description {
	display: none;
}

.crs-HM { color: gold; }
.crs-PO { color: blue; }
.crs-CM { color: red; }
.crs-SC { color: green; }
.crs-PZ { color: orange; }