body {
	font-family: "segoe ui", "helvetica neue", helvetica, sans-serif;
	background-color: #fafafa;
	font-size: 16px;
	margin: 2em 0 0 15em;
	padding: 1em;
}
select, input, button {
	font-family: "segoe ui", helvetica, sans-serif;
	font-size: 1em;
	padding: 0.3em 0.5em;
}
button:disabled {
	opacity: 0.5;
}

a:link, a:visited, a:hover {
	color: #4C9B00;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul li {
	margin: 0;
}

header {
	top: 0;
	left: 0;
	bottom: 0;
	width: 15em;
	overflow: auto;
	padding: 1em;
	background-color: white;
	position: fixed;
	z-index: 10;
}
#nav {
	text-align: center;
	margin: 1em 1em;
	line-height: 2.5em;
}
#nav a {
	margin: 0.5em;
	line-height: 1.1em;
}
#nav a.selected {
	font-weight: bold;
}

header .view {
	font-size: 0.8em;
}

.view {
	display: none;
}
body > .view {
	margin: 0 auto;
}
body.catalog-view .catalog-view,
body.catalog-browse-view .catalog-browse-view,
body.catalog-list-view .catalog-list-view,
body.schedule-view .schedule-view,
body.courses-view .courses-view
{
	display: block;
}
body.catalog-view .catalog-link,
body.schedule-view .schedule-link,
body.courses-view .courses-link
{
	font-weight: bold;
}

/* Schedule */
body > .schedule-view {
	width: 8in;
	font-size: 0.8em;
}
#schedule {
	font-size: 10pt;
	width: 8in;
	margin: 0 auto;
	box-shadow: 0 0 45px #eee;
}
#schedule, #schedule tr, #schedule td, #schedule th {
	border: 1px solid #ccc;
	background-color: white;
}
#schedule ol {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: center;
}
#schedule li {
	padding: 2em 0.25em;
}
#schedule th {
	padding: 0.25em;
	width: 18%;
}
#schedule th:first-child {
	width: 10%;
}
#schedule td {
	vertical-align: top;
	overflow: hidden;
}
#schedule .day {
	position: relative;
	text-align: center;
	font-size: 0.8em;
}
#schedule .day div {
	position: absolute;
	left: 0;
	right: 0;
}

@media print {
	body.schedule-view {
		-webkit-print-color-adjust: exact;
		width: auto;
		margin: 0;
	}
	header, #controls {
		display: none;
	}
}

/* Catalog browse */
body > .catalog-browse-view {
	width: 8in;
}
#controls {
	margin: 0.5em 5px;
	overflow: hidden;
}
#controls span {
	float: left;
	font-size: 1.2em;
}
#controls ul {
	float: right;
	list-style-type: none;
	margin: 0;
}
#controls li {
	float: right;
	margin: 0 0.25em;
	padding: 0;
}

/* Catalog list */
body > .catalog-list-view {
	width: 960px;
	font-size: 0.9em;
}
.catalog-list-view > table {
	width: 100%;
}
#courses .course-entry {
	background-color: #fff;
	padding: 1em;
}
#courses .course-head {
	cursor: pointer;
}
#courses .course-title {
	margin-bottom: 2px;
	line-height: 1.2em
}
#courses .course-abstr {
	line-height: 1.5em;
}
#courses .course-check {
	padding: 5px;
	white-space: nowrap;
	vertical-align: top;
	cursor: pointer;
    width: 30px;
    font-size: 32px;
}
#courses .course-check:before {
    content: "+";
}
#courses .course-check:hover {
    color: #4C9B00;
}
#courses .course-saved .course-entry {
	/*background-color: #EAF2D2;*/
}
#courses .course-saved .course-check:before {
    content: "\2713";
    color: #4C9B00;
	font-size: 26px;
}
#courses .course-partially-saved .course-check {
	background-color: yellow;
}

#courses .course-details {
	margin-top: 1em;
	font-size: 0.8em;
}
#courses .course-reqs {
	margin: 1em;
}
#courses .course-footnotes {
	margin: 0.5em 1em 0;
}

#courses .sections {
	text-align: center;
	width: 100%;
}
#courses .section-row > td {
	padding: 3px;
}
#courses .section-row:nth-child(odd) {
	background-color: #F3F8EF !important;
}
#courses .section-row:nth-child(even) {
	background-color: #E9F2E0 !important;
}
#courses .section-head {
	text-align: left;
	padding: 5px 1em !important;
	width: 20%;
}
#courses .section-dates, #courses .section-numbers {
	width: 10%;
}
#courses .section-numbers span {
	color: #8a8;
}
#courses .section-units, #courses .section-check {
	width: 5%;
}


#courses .meetings {
	margin: 0 auto;
}
#courses .meetings td {
	padding: 0 1px;
	white-space: nowrap;
}
#courses .meetings td:nth-child(1) {
	text-align: right;
	padding-right: 3px;
	color: #666;
}
#courses .meetings td:nth-child(2) {
	text-align: center;
}

#courses .meetings td:nth-child(4),
#courses .meetings td:nth-child(3) {
	text-align: left;
}

#categories ul li {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
#categories span {
	font-weight: bold;
}
#categories > li {
	margin-bottom: 1em;
}

.crs-HM { color: gold; }
.crs-PO { color: blue; }
.crs-CM { color: red; }
.crs-SC { color: green; }
.crs-PZ { color: orange; }
