.Schedule {
	font-size: 10pt;
	width: 100%;
	
	text-align: center;
	-webkit-print-color-adjust: exact;
}
.Schedule, .Schedule-cell {
	border: 1px solid #ccc;
}
.Schedule-hour {
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	margin-top: -0.5em;
}
th.Schedule-cell {
	padding: 0.25em;
	width: 18%;
}
th.Schedule-cell:first-child {
	width: 10%;
}
td.Schedule-cell {
	vertical-align: top;
	overflow: hidden;
	position: relative;
}
.Meeting {
	position: absolute;
	left: 0;
	right: 0;
	
	display: flex;
	align-items: center;
	text-align: center;
	font-size: 0.8em;
}
.Meeting-contents {
	width: 100%;
}